<div class="admin__header">

    <ul class="admin__header--list list-group list-group-horizontal d-flex flex-wrap justify-content-center mb-2">

        <li class="admin__header--list-item"><a href="{{ path('backend_univers_list') }}" class="admin__header--link btn btn-outline-dark">Univers</a></li>
        <li class="admin__header--list-item"><a href="{{ path('backend_category_list') }}" class="admin__header--link btn btn-outline-dark">Catégories</a></li>
        <li class="admin__header--list-item"><a href="{{ path('backend_subcategory_list') }}" class="admin__header--link btn btn-outline-dark">Sous-catégories</a></li>
        <li class="admin__header--list-item"><a href="{{ path('backend_product_list') }}" class="admin__header--link btn btn-outline-dark">Produits</a></li>
        <li class="admin__header--list-item"><a href="{{ path('backend_producer_list') }}" class="admin__header--link btn btn-outline-dark">Producteurs</a></li>
        <li class="admin__header--list-item"><a href="{{ path('backend_user_list') }}" class="admin__header--link btn btn-outline-dark">Utilisateurs</a></li>

    </ul>
</div>