{% extends 'base.html.twig' %}

{% block title %}{{ producer.socialReason }}{% endblock %}

{% block body %}


    <div class="card mx-auto mt-3 mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                {% if producer.avatar matches '#^https://#' %}
                    <img src="{{ producer.avatar }}" class="card-img" alt="{{ producer.firstname }}">
                {% else %}
                    <img src="{{ asset('uploads/avatar/' ~ producer.avatar) }}" class="card-img" alt="{{ producer.firstname }}">
                {% endif %}
            </div>
            <div class="col-md-8 label-producer-homepage">
                <div class="card-body text-center ">
                    <h5 class="card-title">{{ producer.socialReason }}</h5>
                    <p>{{ producer.city }}</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="text-center col-md-12">
                <ul class="list-group ">
                    <li class="list-group-item">
                        <p class="card-text">
                        <h5>Description</h5>
                        </p>
                        {% if producer.description %}
                            {{ producer.description }}
                        {% else %}
                            <p>Non communiquée</p>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div class="container-fluid homepagecard">

        {% for product in producer.products %}

            <div class="card mr-1 mb-1" style="width: 18rem;">
                <a href="{{ path('product_show', {'id' : product.id}) }}">
                    {% if product.image matches '#^https://#' %}
                        <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
                    {% else %}
                        <img src="{{ asset('uploads/avatar/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}">
                    {% endif %}
                </a>
                <div class="card-body label-product-card">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>{{ product.price }} euros</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p class="card-text">

                    </p>
                </div>
                <ul class="list-group ">
                    <li class="list-group-item">
                        <p class="card-text">
                        <h5>Description</h5>
                        {% if product.description %}
                            {{ product.description }}
                        {% else %}
                            <p>Non communiquée</p>
                        {% endif %}

                        </p>
                    </li>
                </ul>
                <div class="card-body text-center ">
                    <a class="btn btn-danger product-button-seemore" href="{{ path('product_show', {'id':product.id}) }}">Voir Plus</a>
                </div>
            </div>
        {% endfor %}
    </div>



{% endblock %}