<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="{{ asset('asset/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/font-awesome.min.css') }}">

        <title>{% block title %}{% endblock %} - Cocorico </title>
    </head>
    <body>
        <div>
            {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        </div>
        
        {% block header%}{% include 'layout/_header.html.twig' %} {% endblock %}
        {% block body %}{% endblock %}
        {% block footer %} {% include 'layout/_footer.html.twig' %} {% endblock %}
        
        {% block javascripts %}{% endblock %}
        <script src="{{ asset('asset/js/jquery.min.js') }}" ></script>
        <script src="{{ asset('asset/js/popper.min.js') }}" ></script>
        <script src="{{ asset('asset/js/bootstrap.min.js') }}" ></script>
        
    </body>
</html>
