{% extends 'base.html.twig' %}

{% block title %}Univers{% endblock %}

{% block body %}

    <div>
        {% if typeName == "subcategory" %}
            <h1 class="universtitle">Univers  {{type.category.univers.name}}</h1>
            <h3> Categorie  {{type.category.name}}</h3>
        {% else %}
            <h1 class="universtitle" > Univers {{type.univers.name}}</h1>
        {% endif %}
        <h3> Catégorie  {{type.name}}</h3>

        {# Condition d'affichage sur le nombre de produits dans le type #}

        {% if typeName == "subcategory" %}
            {% if (type.products | length) >= 1 %}
                <h3>{{ type.products | length }} produits actuellement disponibles dans cette sous categorie</h3>
            {% else %}
                Il n'y a aucun produit à afficher
            {% endif %}
        {% else %}
            {# <h3>{{ type.subcategory.products | length }} produits actuellement disponibles dans cette categorie</h3>  #}
        {% endif %}

    
        <div class="container-fluid homepagecard">
            {% if typeName == "subcategory" %}
            {% for product in type.products %}


                <div class="card mr-1" style="width: 18rem;">
                    {# <img src="http://placehold.it/200x200" class="card-img-top" title = "{{product.name}}" alt="{{product.name}} image"> #}
                    <a href="{{ path('product_show', {'id' : product.id})}}">
                        {% if product.image matches '#^https://#' %}
                            <a href="{{ path('product_show', {'id' : product.id})}}"><img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}" title="{{ product.name }}"></a>
                        {% else %}
                            <a href="{{ path('product_show', {'id' : product.id})}}"><img src="{{ asset('uploads/avatar/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}" title="{{ product.name }}"></a>
                        {% endif %}
                    </a>
                    <div class="card-body label-product-card ">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p>{{ product.producer.city }}</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">{{product.producer.socialReason}}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="card-text">
                            <h5>Description</h5>
                            {% if product.description %}
                                {{ product.description }}
                            {% else %}
                                Non communiquée
                            {% endif %}
                            </p>
                        </li>
                    </ul>
                    <div class="card-body text-center">
                        <a class="btn btn-danger product-button " href="{{ path('producer_show', {'id': product.producer.id}) }}">Boutique du producteur</a>
                    </div>
                </div>
            {% endfor %}
        </div>

    {% else %}
        {% for subcategory in type.subcategories  %}


            {% for product in subcategory.products %}


                <div class="card mr-1" style="width: 18rem;">
                    {# <img src="http://placehold.it/200x200" class="card-img-top" title = "{{product.name}}" alt="{{product.name}} image"> #}
                    <a href="{{ path('product_show', {'id' : product.id})}}">
                        {% if product.image matches '#^https://#' %}
                            <a href="{{ path('product_show', {'id' : product.id})}}"><img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}" title="{{ product.name }}"></a>
                        {% else %}
                            <a href="{{ path('product_show', {'id' : product.id})}}"><img src="{{ asset('uploads/avatar/' ~ product.image) }}" class="card-img-top" alt="{{ product.name }}" title="{{ product.name }}"></a>
                        {% endif %}
                    </a>
                    <div class="card-body label-product-card">
                        <h5 class="card-title">{{product.name}}</h5>
                        <p>{{ product.producer.city }}</p>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star"></span>
                        <span class="fa fa-star"></span>
                        <p class="card-text">{{product.producer.socialReason}}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="card-text">
                            <h5>Description</h5>
                            {% if product.description %}

                                {{ product.description }}
                            {% else %}
                                Non communiquée
                            {% endif %}
                            </p>
                        </li>
                    </ul>
                    <div class="card-body text-center">
                        <a class="btn btn-danger product-button" href="{{ path('producer_show', {'id': product.producer.id}) }}">Boutique du producteur</a>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}


        {% endif %}

    </div>

{% endblock %}