{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}
{% if product.enable == 1 %}
<div class="d-flex jumbotron ">
    <div class="card col-sm-4 col-lg-6 h-200 ">
            <div class="d-flex">
                <div class="mx-auto my-auto col-sm-4 col-lg-6 p-4" >
                    {% if product.image matches '#^https://#' %}
                    <img src="{{ product.image }}" class="card-img " style="width:100%" alt="{{ product.name }}">
                    {% else %}
                    <img src="{{ asset('uploads/avatar/' ~ product.image) }}" class="card-img"
                        alt="{{ product.name }}">
                    {% endif %}
                </div> <!--End of div image-->  
                <div class="d-block col-sm-4 col-lg-6 my-auto">
                    <h1 class="card-title col-auto">{{ product.name }}</h1>

                    <div class="btn btn-secondary ">{{ product.price }} €</div><!--End of div price--> 
                    <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    </div><!--End of span div-->  
                    
                    
                    <div class="">Conditionnement : {{ product.weight }} </div>
                    
                    <form>
                            <div class="form-row align-items-center">
                                <div class="col-auto my-1">
                                <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Choisir une quantité</label>
                                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                                    <option selected>Choisir une quantité</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                </select>
                                </div>
                                <div class="col-auto my-1">
                                <button type="submit" class="btn btn-secondary">Ajouter au Panier</button>
                                </div>
                            </div>
                    </form>
                </div> <!--end of block-->
            </div>
                <div class="d-flex justify-content-between col-auto ">
                        <p>
                            <button class="btn btn-info overflow: hidden" type="button" data-toggle="collapse" data-target="#description" aria-expanded="false" aria-controls="description">                                  Description                </button>
                        </p>
                        <div class="collapse overflow: hidden" id="description">
                            <div class="card card-body">
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aspernatur illum maxime qui reprehenderit harum minus atque laudantium placeat? Voluptas similique in est quisquam ex reprehenderit dicta sapiente nobis distinctio.                                
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-info overflow: hidden" type="button" data-toggle="collapse" data-target="#composition" aria-expanded="false" aria-controls="composition">                                      Composition                                    </button>
                        </p>
                        <div class="collapse overflow: hidden" id="composition">
                            <div class="card card-body">
                                                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aspernatur illum maxime qui reprehenderit harum minus atque laudantium placeat? Voluptas similique in est quisquam ex reprehenderit dicta sapiente nobis distinctio.                                    
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-info overflow: hidden" type="button" data-toggle="collapse" data-target="#Livraison" aria-expanded="false" aria-controls="Livraison">                                          Livraison                                        </button>
                        </p>
                        <div class="collapse overflow: hidden" id="Livraison">
                            <div class="card card-body">
                                                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aspernatur illum maxime qui reprehenderit harum minus atque laudantium placeat? Voluptas similique in est quisquam ex reprehenderit dicta sapiente nobis distinctio.                                        
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-info overflow: hidden" type="button" data-toggle="collapse" data-target="#Conservation" aria-expanded="false" aria-controls="Conservation">                                              Conservation                                            </button>
                        </p>
                        <div class="collapse overflow: hidden" id="Conservation">
                            <div class="card card-body">
                                                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aspernatur illum maxime qui reprehenderit harum minus atque laudantium placeat? Voluptas similique in est quisquam ex reprehenderit dicta sapiente nobis distinctio.                                            
                            </div>
                        </div>
                        <p>
                            <button class="btn btn-info overflow: hidden" type="button" data-toggle="collapse" data-target="#Conditionnement" aria-expanded="false" aria-controls="Conditionnement">                                    Conditionnement                                </button>
                        </p>
                        <div class="collapse overflow: hidden" id="Conditionnement">
                            <div class="card card-body">
                                                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aspernatur illum maxime qui reprehenderit harum minus atque laudantium placeat? Voluptas similique in est quisquam ex reprehenderit dicta sapiente nobis distinctio.                                
                            </div>
                        </div>
                    </div><!--End of collapse div -->
    </div><!--End of product-card -->
        

    <div class=" card col-sm-2 col-lg-4 h-100" > 

        <div class="row no-gutters" >
            <div class="col-md-4">
                {% if product.producer.avatar matches '#^https://#' %}
                    <img src="{{ product.producer.avatar }}" class="card-img" alt="{{ product.producer.firstname }}">
                {% else %}
                    <img src="{{ asset('uploads/avatar/' ~ product.producer.avatar) }}" class="card-img" alt="{{ product.producer.firstname }}">
                {% endif %}
            </div>
            <div class="">
                <div class="card-body text-center ">
                    <h5 class="card-title">{{ product.producer.socialReason }}</h5>
                    <p>{{ product.producer.city }}</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
            </div>
            <div class="text-center card-text mx-auto">
                    
                    <h5>Description</h5>
                    
                    {% if product.producer.description %}
                        {{ product.producer.description }}
                    {% else %}
                        <p>Non communiquée</p>
                    {% endif %}
        </div>
        </div>
    </div><!--End of producer-card-->  
   
    
</div><!--End of container-->
{% else %}
    <p>Le produit est archivé</p>
{% endif %}
{% endblock %}

