{% extends 'base.html.twig' %}

{% block title %}{{product.name}}{% endblock %}

{% block body %}
{% if product.enable == 1 %}
<div class="jumbotron d-flex justify-content-around">
    <div class="row ">
        <div class="card col-md-auto  ">
            <div class="card-body d-block">
                <div class="h-100 text-center align-center" >
                    {% if product.image matches '#^https://#' %}
                    <img src="{{ product.image }}" class="card-img-fluid vertical-align:middle  " alt="{{ product.name }}">
                    {% else %}
                    <img src="{{ asset('uploads/avatar/' ~ product.image) }}" class="card-img-fluid"
                        alt="{{ product.name }}">
                    {% endif %}
                </div> <!--End of div image-->  
                    <div class="d-block">
                        <h1 class="card-title">{{ product.name }}</h1>
        
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>
                        <span class="fa fa-star checked"></span>

                        <div class="mt-4 mb-4"><b>Choisir une quantité</b> </div>

                        

                        <div class="dropdown show mr-2">
                            <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Poids
                            </a>

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">à définir</a>

                            </div><!--End of div poids--> 
                        </div><!--End of div show--> 
                        <div class="dropdown show">
                            <a class="btn btn-secondary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Quantité
                            </a>
                        
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">1</a>
                            <a class="dropdown-item" href="#">2</a>
                            <a class="dropdown-item" href="#">3</a>
                        
                            </div><!--End of div quantité--> 
                        </div><!--End of div show--> 
                        <div class="btn btn-danger ml-1">{{ product.price }} €

                        </div><!--End of div price--> 

                            <div class="ml-1">Conditionnement : {{ product.weight }} kg </div>


                            <button class="btn btn-info mt-3" href="#" type="submit">Ajouter au panier</button>
                    
                         </div> <!--end of block-->

                        </div> <!--End of title-star -->
                        <div class="btn-group pb-2 d-block" role="group" aria-label="First group">

                            <button type="button" class="btn btn-info product-button mb-1">Description</button>
                            <button type="button" class="btn btn-info product-button mb-1">Composition</button>
                            <button type="button" class="btn btn-info product-button mb-1">Livraison</button>
                            <button type="button" class="btn btn-info product-button mb-1">Conservation</button>
                            <button type="button" class="btn btn-info product-button mb-1">Conditionnement</button>
        
                         </div><!--End of button-->
                    </div>
                </div><!--End of product-card -->

                    <div class="card col order-lg-0 col-lg-3 order-sm-first" style="max-height: 20em; overflow:hidden;"> 

                        <div class="row no-gutters" >
                            <div class="col-md-4">
                                {% if product.producer.avatar matches '#^https://#' %}
                                    <img src="{{ product.producer.avatar }}" class="card-img" alt="{{ product.producer.firstname }}">
                                {% else %}
                                    <img src="{{ asset('uploads/avatar/' ~ product.producer.avatar) }}" class="card-img" alt="{{ product.producer.firstname }}">
                                {% endif %}
                            </div>
                            <div class="col-md-">
                                <div class="card-body text-center ">
                                    <h5 class="card-title">{{ product.producer.socialReason }}</h5>
                                    <p>{{ product.producer.city }}</p>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                            </div>
                            <div class="text-center card-text mx-auto">
                                    
                                    <h5>Description</h5>
                                   
                                    {% if product.producer.description %}
                                        {{ product.producer.description }}
                                    {% else %}
                                        <p>Non communiquée</p>
                                    {% endif %}
                        </div>
                        </div>
                    </div>
            
        </div><!--End of producer-card-->
    </div><!--End of row-->
</div><!--End of jumbotron-->
{% else %}
    <p>Le produit est archivé</p>
{% endif %}
{% endblock %}

