   <!-- Footer -->
   <footer class="font-small mt-5 footer">

        <!-- Footer Links -->
        <div class="container text-center">
        
          <!-- Grid row -->
          <div class="row">
        
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
        
              <!-- Content -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Cocorico World</h5>
              <p>Vous avez des questions ?</p>
              <p><a class="text-dark" href="{{ path('contact') }}">Nous contacter</a></p>
        
        
            </div>
            <!-- Grid column -->
        
            <hr class="clearfix w-100 d-md-none">
        
            <!-- Grid column -->
            <div class="col-md-6 mx-auto">
        
              <!-- Links -->
              <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Cocorico</h5>
        
                <ul class="list-unstyled ">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        {% if not is_granted('ROLE_PRODUCER') %}
                            <li><a class="text-dark" href="{{ path('producer_registration') }}">S'inscrire en tant que producteur</a></li>
                        {% endif %}
                    {% endif %}
                    <li><a class="text-dark" href="{{ path('company_page') }}">Qui sommes-nous</a></li>
                    <li><a class="text-dark" href="{{ path('faq_page') }}">FAQ </a></li>
                    <li><a class="text-dark" href="{{ path('legalsmentions_page') }}">Mentions Legales</a></li>    
                </ul>
            </div>
            <!-- Grid column -->
        
          </div>
          <!-- Grid row -->
        
        </div>
        <!-- Footer Links -->
        
        <hr>
        
          <div class="d-flex justify-content-center">
        
              <div class="col-md-6">
                  <form class="input-group">
                <input type="text" class="form-control form-control-sm-secondary" placeholder="S'inscrire à la newsletter"
                  aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                <button class="btn btn-secondary" type="button">Envoyer</button>
                </div>
              </form>
        
            </div>
        </div>
        <hr>
        
        <!-- Social buttons -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-center">Suivez nous</h5>
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                  <i class="fa fa-twitter-square fa-3x"></i>
              </li>
              <li class="list-inline-item">
                <i class="fa fa-facebook-square fa-3x"></i>
            </li>
            <li class="list-inline-item">
                <i class="fa fa-pinterest-square fa-3x"></i>
            </li>
          </ul>
        <!-- Social buttons -->
        
        <!-- Copyright -->
        <div class="container-fluid bg-secondary pt-3">
            <div class="row d-flex">
            
                <div class="col text-center">
                    <p>Copyright © 2019 Cocorico Tous droits réservés | <a class="text-dark" href="{{ path('cgv_page') }}"> CGV</a> | <a  class="text-dark" href="{{ path('legalsmentions_page') }}">Information légales</a></p>
                </div>
        <!-- Copyright -->
            </div>
        </div>
    </footer>
        <!-- Footer -->