{% extends 'base.html.twig' %}

 {% block stylesheets %}
 {{ parent() }}
<link rel="stylesheet" href="{{ asset('asset/css/owl.carousel.css') }}">
<link rel="stylesheet" href="{{ asset('asset/css/owl.theme.default.min.css') }}">
 {% endblock %}

{% block title %}Cocorico World Home {% endblock %}

{% block body %}

<div class="container mt-3">
    <div class="row">

        <h1 id="cocorico"> Bienvenue chez Cocorico World</h1>

        <div class="owl-carousel owl-theme">
            {% for product in lastproducts %}
                <div class="item">
                    <div class="card">
                        <a href="{{ path('product_show', {'id' : product.id})}}"><img src="{{ product.image}}" alt="" class="card-img-top"></a>
                        <div class="card-body carousel-card-body">
                            <div>
                                <h5  class="text-center">{{ product.name}}</h5>
                            </div>
                            <div>
                                <h6 class="text-center"><span>{{product.price}}€</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% for message in app.flashes('email sent') %}
    <div class="flash-notice alert alert-success"></div>
    {{ message }}
{% endfor %}

<div class="container-fluid homepagecard mt-5">

    {% for producer in producers %}
    {% set url = path('producer_show', {'id': producer.id}) %}

        <div class="card mr-1 mb-1" style="width: 18rem;">
            <div class="text-center">
           {% if producer.avatar matches '#^https://#' %}
                <a href="{{ url }}"><img src="{{ producer.avatar }}" alt="{{ producer.firstname }}"></a>
            {% else %}
                <a href="{{ url }}"><img src="{{ asset('uploads/avatar/' ~ producer.avatar) }}" alt="{{ producer.firstname }}"></a>
            {% endif %}
            </div>
            <div  class="card-body label-producer-homepage">
                <a href="{{ url }}">
                <h5 class="card-title">{{ producer.socialReason }}</h5>
                    <p>{{ producer.city }}</p>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <p class="card-text"> </p>

                   </a>
            </div>
            <ul class="list-group">
                <li class="list-group-item description-producer-homepage">
                    <p class="card-text">
                        <h5>Description</h5>
                        {{ producer.description }}
                    </p>
                </li>

            </ul>
            <div class="card-body text-center">
                <a class="btn btn-info producter-button-shop" href="{{ url }}">Boutique du producteur</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('asset/js/owl.carousel.js') }}" ></script>
    <script src="{{ asset('asset/js/script-carousel.js') }}"></script>
{% endblock %}